@import "../../../responsive.scss";

.agent-container {
    max-width: 1100px;
    margin: 50px auto;
    text-align: center;
    // padding: 20px;

    .top {
        text-align: center;
        margin-bottom: 35px;

        span {
            color: #09aa57;
        }

        h1 {
            font-size: 36px;
            margin-bottom: 10px;
            color: #2a303b;
        }
    }

    .agent-card {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        @include small {
            padding-left: 20px;
            padding-right: 20px;
        }

        @include medium {
            padding-left: 20px;
            padding-right: 20px;
        }

        .agent-single-card {
            // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            flex: 1 1 calc(25% - 20px);
            background-color: #09aa57;

            @include small {
                flex: 1 1 100%;
                gap: 20px;
            }

            @include medium {
                flex: 1 1 calc(50% - 20px);
            }

            .agent-img {
                width: 100%;
            }

            .agent-info {
                padding: 20px 0px;

                .agent-name {
                    color: white;
                    font-size: 22px;
                    font-weight: 200;
                }

                .social {
                    display: flex;
                    margin-top: 15px;
                    justify-content: center;
                    gap: 20px;
                }
            }


        }

    }



}