@import "../../../responsive.scss";

.agent-container {
  max-width: 1100px;
  margin: 50px auto;
  text-align: center;
  // padding: 20px;

  .top {
    text-align: center;
    margin-bottom: 50px;

    .lined-title {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: #09aa57;
      position: relative;
    }

    .lined-title::before,
    .lined-title::after {
      content: "";
      display: inline-block;
      flex: none;
      width: 40px;
      height: 1px;
      background-color: #09aa57;
      margin: 0 10px;
    }

    h1 {
      font-size: 36px;
      margin-bottom: 10px;
      color: #2a303b;
    }
  }

  .agent-card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;

    @include small {
      padding-left: 20px;
      padding-right: 20px;
    }

    @include medium {
      padding-left: 20px;
      padding-right: 20px;
    }
    a {
      flex: 1 1 calc(50% - 20px);
      transition: transform 0.3s ease;
      text-decoration: none;

      @include small {
        flex: 1 1 100%;
        gap: 20px;
      }
    }
  }

  button {
    background-color: #0fb45f;
    color: white;
    margin-top: 60px;
    align-items: center;
    padding: 13px 36px;
    border: none;
    font-weight: 700;
    cursor: pointer;
  }

  button:hover {
    background-color: #09aa57;
    transition: all 0.2 ease-in-out;
  }
}
