@import "../../../responsive.scss";

.how-works-container {
  text-align: center;
  margin: 0 auto;
  width: 90%;
  margin-top: 100px;

  .top {
    text-align: center;
    margin-bottom: 35px;

    .lined-title {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: #09aa57;
      position: relative;

      @include small {
        font-size: 14px;
      }
    }

    .lined-title::before,
    .lined-title::after {
      content: "";
      display: inline-block;
      flex: none;
      width: 40px;
      height: 1px;
      background-color: #09aa57;
      margin: 0 10px;

      @include small {
        width: 25px;
      }
    }

    h1 {
      font-size: 36px;
      margin-bottom: 10px;
      color: #2a303b;

      @include small {
        font-size: 27px;
      }
    }
    p {
      color: #636a76;

      @include small {
        font-size: 13px;
      }
    }
  }

  .card {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;

    @include small {
      flex: 1 1 100%;
      gap: 20px;
    }

    @include medium {
      flex: 1 1 calc(50% - 20px);
    }

    .card-one {
      padding: 30px 25px;
      flex: 1 1 calc(25% - 20px);
      border-radius: 10px;
      transition: transform 0.3s ease;

      .image {
        position: relative;
        margin-bottom: 15px;

        img {
          margin-bottom: 30px;
          height: 200px;
        }

        p {
          background-color: #09aa57;
          color: white;
          padding: 12px;
          border-radius: 50%;
          width: 50px;
          position: absolute;
          left: 37%;
          top: 75%;

          @include small {
            left: 40%;
            top: 73%;
          }
        }
      }

      .card-text {
        h3 {
          margin-bottom: 15px;
          color: #2a303b;
        }

        p {
          color: #636a76;
        }
      }
    }

    .card-one:hover {
      transform: translateY(-5px) scale(1.02);
      border-bottom: 3px solid #09aa57;

      h3 {
        color: #09aa57;
      }
    }
  }
}
