.css-1lwhjos-MuiPaper-root-MuiDrawer-paper {
  background-color: #121621 !important;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e7edee;
  padding: 14px 10px;
  margin-bottom: 20px;
  font-weight: 600;

  .addnew-btn {
    color: #3a307f;
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    border: none;
    background-color: none;
    cursor: pointer;
  }
}
