@import "../../responsive.scss";

.filter {
  background: #e7edee;
  margin-right: 30px;
  padding: 15px 30px;

  @include small {
    background: none;
    margin-right: 0;
    padding: 0 6px;
  }

  h4 {
    text-align: center;
    text-transform: uppercase;

    @include small {
      display: none;
    }
  }
}

.input-area {
  .location {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;

    input {
      padding: 7px 5px;
      border: 1px solid #09aa57;
      outline: none;

      // Optional: Add custom focus style if you want
      &:focus {
        border: 1px solid #09aa574f; // or a different green
        box-shadow: 0 0 0 2px rgba(9, 170, 87, 0.2);
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    // width: 100%;

    @include small {
      flex-direction: column;
    }

    label {
      display: flex;
      flex-direction: column;
      font-size: 12px;
      padding: 6px 0px;
      width: -webkit-fill-available;
    }

    select {
      padding: 7px 5px;
      border: 1px solid #09aa57;
      outline: none;
    }

    input {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 7px 5px;
      border: 1px solid #09aa57;
      outline: none;
    }

    .price-group {
      display: flex;
      gap: 5px;
      flex-direction: row;

      #minPrice {
        @include small {
          width: 48%;
          margin-right: 4%;
        }
      }
      #maxPrice {
        @include small {
          width: 48%;
        }
      }
    }

    .btn-group {
      display: flex;
      gap: 20px;
      margin-top: 25px;

      .submit-btn {
        padding: 10px 20px;
        font-weight: 600;
        font-size: 14px;
        border: 1px solid #09aa57;
        cursor: pointer;
        background-color: #09aa57;
        border-radius: 1px;
        outline: none;
        color: white;
        transition: all 0.2s ease-in-out;
      }

      .submit-btn:hover {
        background-color: #ffffff;
        color: #09aa57;
      }

      .reset-btn {
        padding: 10px 20px;
        font-weight: 600;
        font-size: 14px;
        border: 1px solid #eb8a21;
        cursor: pointer;
        background-color: #eb8a21;
        border-radius: 1px;
        outline: none;
        color: white;
        transition: all 0.2s ease-in-out;
      }

      .reset-btn:hover {
        background-color: #ffffff;
        color: #eb8a21;
      }
    }
  }
}
