@import "../../responsive.scss";

.profilePage {
    display: flex;
    height: 100%;
    padding-top: 15px;

    @include medium {
        flex-direction: column;
        overflow: scroll;
    }

    .details {
        flex: 3;
        overflow-y: scroll;
        padding-bottom: 50px;

        @include medium {
            flex: none;
            height: max-content;
        }

        .wrapper {
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;

            .title {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h3 {
                    font-weight: 600;
                }

                button {
                    padding: 7px 15px;
                    background-color: yellowgreen;
                    cursor: pointer;
                    border: none;
                    border-radius: 20px;
                }
            }

            .info {
                display: flex;
                flex-direction: column;
                gap: 5px;
                align-items: center;

                span {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-bottom: 18px;
                }
            }
        }
    }

    .chatContainer {
        flex: 2;
        height: 100%;

        @include medium {
            flex: none;
            height: max-content;
        }

        .wrapper {
            // padding: 0px 20px;
            height: 100%;
        }
    }
}