@import "../../responsive.scss";

.agent-container {
  margin-bottom: 50px;
  overflow: hidden;

  .top {
    margin-bottom: 50px;

    h1 {
      @include small {
        font-size: 27px;
      }
    }
  }
}
