@import '../../responsive.scss';

nav {
  display: flex;
  justify-content: space-between;
  height: 75px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(226, 226, 226);
  font-weight: 500;
  background-color: rgb(9, 5, 31);

  a {
    transition: all 0.4s ease;
    padding: 9px 15px;

    @include small {
      display: none;
    }

    @include medium {
      display: none;
    }

    &:hover {
      scale: 1.05;
    }
  }

  .left-side {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 40px;

    .logo a {
      font-weight: 600;
      display: flex;
      align-items: flex-end;
      gap: 13px;

      h2 {
        @include small {
          display: initial;
        }
      }
    }
  }

  .menu-items {
    display: flex;
    gap: 15px;
    font-weight: 500;
  }

  .right-side {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    gap: 15px;

    .navbar-profile {
      display: flex;
      align-items: center;
      gap: 20px;

      span {
        display: flex;
        align-items: center;
        gap: 8px;

        img {
          width: 40px;
          height: 36px;
          border-radius: 50%;
        }
      }

      .profile-btn {
        background-color: #09aa57;
        padding: 4px 14px;
        cursor: pointer;
        position: relative;

        .notification {
          position: absolute;
          top: -8px;
          right: -8px;
          background-color: crimson;
          color: white;
          border-radius: 50%;
          width: 23px;
          height: 23px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 13px;
        }
      }

      @include small {
        display: none;
      }

      @include medium {
        display: none;
      }
    }

    .register {
      background-color: #09aa57;
      color: rgb(9, 5, 31);
      padding: 7px 20px;
    }

    .menu-icon {
      display: none;
      cursor: pointer;
      z-index: 999;
      background-color: transparent !important;

      @include small {
        display: initial;
      }

      @include medium {
        display: initial;
      }
    }

    .side-menu {
      position: fixed;
      top: 0;
      right: -50%;
      background-color: rgba(0, 0, 0, 0.6);
      backdrop-filter: blur(10px);
      color: white;
      height: 100vh;
      width: 40%;
      transition: right 0.5s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 17px;
      font-weight: 300;
      padding-top: 100px;
      z-index: 998;

      &.active {
        right: 0;
      }

      @include small {
        a {
          display: initial;
        }

        .navbar-profile {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          margin-top: 20px;
        }
      }

      @include medium {
        a {
          display: initial;
        }

        .navbar-profile {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          margin-top: 20px;
        }
      }

      .side-menu-devider {
        width: 80%;
        margin: 30px 0;
        border-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
}