nav {
    display: flex;
    justify-content: space-between;
    height: 67px;
    align-items: center;

    .left-side {
        flex: 3;
        display: flex;
        align-items: center;
        gap: 40px;

        .logo a {
            font-weight: 700;
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .menu-items {
            display: flex;
            gap: 15px;
        }

        .menu-items a {
            padding: 5px 10px;
            border-radius: 5px;
        }

        .menu-items a:hover {
            background-color: crimson;
            color: white;
            transition: all 0.75s ease-out allow-discrete;
        }
    }

    .right-side {
        flex: 2;
        display: flex;
        gap: 15px;

        a {
            padding: 5px 10px;
            border-radius: 5px;
        }

        a:hover {
            background-color: crimson;
            color: white;
            transition: all 0.75s ease-out allow-discrete;
        }
    }
}